[project]
name = "meaning-of-life"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.3.5",
    "pygame>=2.6.1",
    "scipy>=1.14.0",
]
